@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background: linear-gradient(90deg, #3951E7 20.77%, #832AB9 91.64%);

}

.wrapper {
  width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

main {
  width: 1210px;
  margin-left: auto;
  margin-right: auto;
}

.articleContainer {
  text-align: center;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 95vw;
  }
  main {
    width: 98vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px){

}
